<div class="row">
  <div class="card mh-500">
    <div class="card-header py-3 mt-2">
      <h3 class="product-title mb-2">{{ 'searchByIndex' | translate }}</h3>
      <p>{{ 'searchByIndex_description' | translate }}</p>
    </div>

    <div class="card-body">
      <!-- Formulaire principal -->
      <form class="row g-3 mb-2" (ngSubmit)="rechercher()">
        <div class="col-12 col-md-7">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="indexQuery"
            name="index"
            placeholder="Recherche principale"
          />
        </div>
        <div class="col-12 col-md-5 d-flex align-items-end">
          <button type="submit" class="btn btn-primary mx-2">{{ 'search' | translate }}</button>
          <button type="button" class="btn btn-danger" (click)="resetSearch()">{{ 'reset' | translate }}</button>
        </div>
      </form>

      <!-- Tableau des résultats -->
      <div *ngIf="resultItems.length > 0">
        <h5 class=" mb-2 mt-2">{{ 'resultsFound' | translate }}: {{ filteredItemsList.length }}</h5>
        <table class="table table-bordered mt-3">
          <thead class="table-light">
          <tr>
            <th class="col-md-3 text-left align-top">{{ 'author_advisor' | translate }}
              <div class="input-with-icon">
                <i class="bi bi-search icon"></i>
                <input
                  id="personFilter"
                  type="text"
                  class="form-control"
                  [(ngModel)]="personFilter"
                  name="personFilter"
                  placeholder="{{ 'search' | translate }}"
                  (input)="applyFilters()"
                />
              </div>
            </th>
            <th class="col-md-3 text-left align-top">ID</th>
            <th class="col-md-6 text-left align-top">{{ 'titre' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let group of filteredItemsList">
            <td rowspan="{{ group.items.length }}">
              <strong>{{ group.displayName }}</strong>
            </td>
            <td >
              <ul class="brxe-list">
                <li *ngFor="let item of group.items" >
                  <a [href]="urlDSpace + item.id" target="_blank">{{ item.id }}</a>
                </li>
              </ul>
            </td>
            <td>
              <ul class="brxe-list">
                <li  *ngFor="let item of group.items" >
                  <i class="bi bi-check-circle-fill mr-2" aria-hidden="true"></i>
                   {{ item.metadata['dc.title'][0]?.value }}
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Alerte s'il n'y a aucun résultat -->
      <div *ngIf="showAlert" class="alert alert-warning mt-4">
        {{ 'resultVideMessage' | translate }}
      </div>

      <!-- Chargement -->
      <div *ngIf="isLoading" class="text-center my-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">{{ 'loading' | translate }}</span>
        </div>
        <p class="text-primary">{{ 'loadingMessage' | translate }}</p>
      </div>
    </div>
  </div>
</div>
