<div class="row">
  <!-- Début de la section de fil d'Ariane -->
  <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="ps-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item">
            <a href="#"><i class="bi bi-person-check"></i></a>
          </li>
          <li aria-current="page" class="breadcrumb-item active">
            {{ 'discover' | translate }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Fin de la section de fil d'Ariane -->

  <div class="card">
    <div class="card-header py-3 mt-2">
      <h4 class="mb-0">{{ 'documentProgress' | translate }}</h4>
    </div>
    <div class="card-body">
      <form class="row g-3" (ngSubmit)="rechercher()">
        <div class="col-12 col-md-4 col-lg-4">
          <label class="form-label">{{ 'email' | translate }}</label>
          <input type="email" class="form-control" placeholder="{{ 'emailPlaceholder' | translate }}" [(ngModel)]="query.courriel" name="courriel">
        </div>
        <div class="col-12 col-md-2 col-lg-2">
          <label class="form-label">{{ 'lastName' | translate }}</label>
          <input type="text" class="form-control" placeholder="{{ 'lastNamePlaceholder' | translate }}" [(ngModel)]="query.nom" name="nom">
        </div>
        <div class="col-12 col-md-2 col-lg-2">
          <label class="form-label">{{ 'firstName' | translate }}</label>
          <input type="text" class="form-control" placeholder="{{ 'firstNamePlaceholder' | translate }}" [(ngModel)]="query.prenom" name="prenom">
        </div>
        <div class="col-12 col-md-2 col-lg-2">
          <label class="form-label">{{ 'registrationNumber' | translate }}</label>
          <input type="text" class="form-control" placeholder="{{ 'registrationNumberPlaceholder' | translate }}" [(ngModel)]="query.matricule" name="matricule">
        </div>
        <div class="col-12 col-md-2 col-lg-2">
          <label class="form-label">{{ 'institutionalAddress' | translate }}</label>
          <input type="text" class="form-control" placeholder="{{ 'institutionalAddressPlaceholder' | translate }}" [(ngModel)]="query.adresseInstitutionnelle" name="adresseInstitutionnelle">
        </div>

        <div class=" col-12 mt-5 text-end">
            <button  type="button" class="btn btn-primary mr-1 radius-30 mr-1 px-3" type="submit">{{ 'search' | translate }}</button>
            <button  type="button" class="btn btn-secondary mr-1 radius-30 px-3" (click)="resetForm()">{{ 'reset' | translate }}</button>
        </div>
      </form>

      <div class="table-responsive mt-3" *ngIf="result.length">
        <table class="table align-middle">
          <thead class="table-light">
          <tr>
            <th></th> <!-- Bouton d'extension -->
            <th>{{ 'depositor' | translate }}</th>
            <th>{{ 'id' | translate }}</th>
            <th>{{ 'item' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let rep of result">
            <ng-container *ngIf="rep.metadata['dc.contributor.author']">
              <tr>
                <!-- Ligne principale avec les informations de base -->
                <td>
                  <!-- Bouton pour basculer l'affichage -->
                  <button class="btn btn-sm btn-outline-secondary" (click)="toggleRow(rep.id);getNameCollections(rep.id)">
                    {{ expandedRows[rep.id] ? '-' : '+' }}
                  </button>
                </td>
                <td><strong>{{ 'author' | translate }}:</strong> {{ rep.metadata['dc.contributor.author']?.[0]?.value || 'Non disponible' }}</td>
                <td><a href="https://umontreal-dev.scholaris.ca/items/{{ rep.id }}" target="_blank" class="highcharts-link">{{ rep.id }}</a></td>
                <td>{{ rep.name }}</td>
              </tr>

              <!-- Nouvelle ligne pour afficher les détails -->
              <tr *ngIf="expandedRows[rep.id]">
                <td colspan="4">
                  <div class="bg-light" style="padding: 10px;">
                    <p><strong>{{ 'lastModified' | translate }}:</strong> {{ rep.lastModified }}</p>
                    <p><strong>{{ 'disseminatedOnPapyrus' | translate }}:</strong> {{ rep.metadata['dc.date.accessioned'][0]?.value ? 'Oui' : 'Non' }}</p>
                    <p><strong>{{ 'depositorCollection' | translate }}:</strong>
                      <span *ngFor="let name of collectionNames[rep.id]">{{ name }} </span>
                    </p>
                    <p><strong>{{ 'currentStep' | translate }}:</strong> {{ rep.metadata['dc.date.accessioned'][0]?.value }}</p>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </table>
      </div>
      <ng-container *ngIf="showAlert">
        <div class="alert border-0 border-danger border-start border-4 bg-light-danger alert-dismissible fade show mt-5">
          <div class="text-danger">{{ alertMessage }}</div>
          <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close"></button>
        </div>
      </ng-container>

    </div>
  </div>
</div>
