<div class="row">
  <!-- Début de la section de fil d'Ariane -->
  <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="ps-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item">
            <a href="#"><i class="bi bi-house-door"></i></a>
          </li>
          <li aria-current="page" class="breadcrumb-item active">
            {{ 'home' | translate }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Fin de la section de fil d'Ariane -->
</div>
<div class="row">
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Total Users</p>
            <h4 class="my-1">5800</h4>
          </div>
          <div class="widget-icon-large bg-gradient-danger text-white ms-auto"><i class="bi bi-people-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Total Collections</p>
            <h4 class="my-1">24</h4>
          </div>
          <div class="widget-icon-large bg-gradient-success text-white ms-auto"><i class="bi bi-collection"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Total Items</p>
            <h4 class="my-1">38000</h4>
          </div>
          <div class="widget-icon-large bg-gradient-info text-white ms-auto"><i class="bi bi-files"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--end row-->
<div class="row">
  <div class="col-12 col-lg-12 col-xl-12 d-flex">
    <div class="card radius-10 w-100">
      <div class="card-header bg-transparent">
        <div class="row g-3 align-items-center">
          <div class="col">
            <h5 class="mb-0">Statistics</h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-lg-flex align-items-center justify-content-center gap-4">
          <div class="col-4 col-lg-4 col-xl-4 d-flex">
            <div id="chart" #chart></div>
          </div>
          <div class="col-8 col-lg-8 col-xl-8 d-flex">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="bi bi-circle-fill text-primary me-1"></i> Visitors: <span class="me-1">89</span>
              </li>
              <li class="list-group-item"><i class="bi bi-circle-fill text-danger me-1"></i> Subscribers: <span class="me-1">45</span>
              </li>
              <li class="list-group-item"><i class="bi bi-circle-fill text-success me-1"></i> Contributor: <span class="me-1">35</span>
              </li>
              <li class="list-group-item"><i class="bi bi-circle-fill text-orange me-1"></i> Author: <span class="me-1">62</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
