<div class="row">
  <div class="card mh-500">
    <div class="card-header py-3 mt-2">
      <h3 class="mb-0 ">{{ 'documentProgress' | translate }}</h3>
    </div>
    <div class="card-body">
      <form class="row g-3 mt-2 mb-2" (ngSubmit)="rechercher()">
        <!-- Formulaire -->
        <div class="col-12 col-md-3">
          <label>{{ 'email' | translate }}</label>
          <input type="email" class="form-control" [(ngModel)]="query.email" name="email" />
        </div>
        <div class="col-12 col-md-3">
          <label>{{ 'lastName' | translate }}</label>
          <input type="text" class="form-control" [(ngModel)]="query.nom" name="nom" />
        </div>
        <div class="col-12 col-md-3">
          <label>{{ 'firstName' | translate }}</label>
          <input type="text" class="form-control" [(ngModel)]="query.prenom" name="prenom" />
        </div>
        <div class="col-12 col-md-3 d-flex align-items-end">
          <button type="submit" class="btn btn-primary mx-2">{{ 'search' | translate }}</button>
          <button type="button" class="btn btn-danger" (click)="resetForm()">{{ 'reset' | translate }}</button>
        </div>
      </form>
      <!-- Résultats -->
      <div *ngIf="result.length" class="mt-5">
        <div class="row">
        <h5>{{ 'results' | translate }} :  <span  class="text-primary"> {{this.searchQueryString}}</span></h5>
          <div *ngFor="let user of result" class="col-md-4 col-xl-4">
                  <div class="card border shadow-none radius-10"
                    [ngClass]="{'border-primary': selectedUserId === user.id, 'border-3': selectedUserId === user.id}">
                    <div class="card-body">
                      <div class="d-flex align-items-center gap-3">
                        <div class="icon-box bg-light-primary border-0">
                          <i class="bi bi-person text-primary"></i>
                        </div>
                        <div class="info">
                          <p class="mb-1">#{{ user.id }}</p>
                          <p class="mb-1">{{ user.fullName }}</p>
                          <p class="mb-1">{{ user.email }}</p>
                          <button class="btn btn-dark btn-sm shadow-sm p-2" (click)="afficherItems(user.id, user.fullName)">
                            <i class="bi bi-files-alt"></i> {{ 'list-items' | translate }}
                          </button>
                        </div>
                      </div>
              </div>
        </div>
        </div>
        </div>
      </div>
      <!-- Items -->
      <div *ngIf="resultItemsCombined.length && selectedUserId" class="mt-3">
        <h4>{{ 'userItems' | translate }} : {{ selectedUserId }}</h4>
        <div class="mt-2">
          <table class="table align-middle">
            <thead class="table-light">
            <tr>
              <th></th>
              <th>{{ 'id' | translate }}</th>
              <th>{{ 'titre' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of resultItemsCombined">
              <tr>
                <td>
                  <button class="btn btn-sm btn-outline-secondary"
                          (click)="toggleRow(item.id); afficherDetailsItem(item.id); getNameCollection(item.id, item.idCollection);">
                          {{ expandedRows[item.id] ? '-' : '+' }}
                  </button>
                </td>
                <td><a href="{{ urlDSpace + item.id }}" target="_blank" class="highcharts-link">{{ item.id }}</a></td>
                <td><h6>{{ item.title }}</h6></td>
              </tr>
              <tr *ngIf="expandedRows[item.id]">
                <td colspan="4">
                  <div *ngIf="loadingDetails" class="spinner-border text-primary" role="status"></div>
                  <div *ngIf="!loadingDetails" class="item-details">
                    <!-- Nouvelle ligne pour afficher les détails -->
                    <div class="row g-3 p-4">
                      <div class="col-12 col-lg-4 col-xl-4 d-flex">
                        <div class="card mb-0 radius-10 shadow-none w-100">
                          <div class="card-body">
                            <h5 class="card-title text-primary">{{ 'details-generique' | translate }}</h5>
                            <ul class="list-group mt-3">
                              <li *ngIf="selectedItemDetails?.id" class="list-group-item p-2">
                                <strong>{{ 'id' | translate }}:</strong> {{ selectedItemDetails.id }}
                              </li>
                              <li *ngIf="selectedItemDetails.name" class="list-group-item p-2">
                                <strong>{{ 'titre' | translate }}:</strong> {{ selectedItemDetails.name }}
                              </li>
                              <li *ngIf="selectedItemDetails.author?.length" class="list-group-item p-2">
                                <strong>{{ 'authors' | translate }}:</strong>
                                <span *ngFor="let author of selectedItemDetails.author; let last = last">
                                    {{ author.value }}<span *ngIf="!last">, </span></span>
                              </li>
                              <li class="list-group-item p-2">
                                <strong>{{ 'collection' | translate }}:</strong> {{ this.collectionNames[item.id] }}
                              </li>
                              <li *ngIf="selectedItemDetails.dateAccessioned" class="list-group-item p-2">
                                <strong>{{ 'date_accessioned' | translate }}:</strong> {{ selectedItemDetails.dateAccessioned }}
                              </li>
                              <li *ngIf="selectedItemDetails.dateIssued" class="list-group-item p-2">
                                <strong>{{ 'date_issued' | translate }}:</strong> {{ selectedItemDetails.dateIssued }}
                              </li>
                              <li *ngIf="selectedItemDetails.lastModified" class="list-group-item p-2">
                                <strong>{{ 'lastModified' | translate }}:</strong> {{ selectedItemDetails.lastModified }}
                              </li>
                              <li *ngIf="selectedItemDetails.description" class="list-group-item  p-2">
                                <strong>{{ 'item-description' | translate }}:</strong> {{ selectedItemDetails.description }}
                              </li>

                              <li *ngIf="selectedItemDetails.type" class="list-group-item  p-2">
                                <strong>{{ 'type' | translate }}:</strong> {{ selectedItemDetails.type }}
                              </li>
                              <li class="list-group-item p-2" *ngIf="selectedItemDetails.discipline">
                                <strong>{{ 'discipline' | translate }}:</strong> {{ selectedItemDetails.discipline}}
                              </li>
                              <li class="list-group-item p-2" *ngIf="selectedItemDetails.level">
                                <strong>{{ 'level' | translate }}:</strong> {{ selectedItemDetails.level  }}
                              </li>
                              <li class="list-group-item p-2">
                                <strong>{{ 'in_archive' | translate }}:</strong>
                                {{ selectedItemDetails.inArchive ? ('yes' | translate) : ('no' | translate) }}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-8 col-xl-8 d-flex">
                        <div class="card mb-0 radius-10 shadow-none w-100">
                          <div class="card-body">
                            <div  *ngIf="item.step?.id" class="mt-3 w-100">
                              <h5 class="card-title">{{ 'workflowStep' | translate }}: {{ getStepProgress(item.step.id).label }}</h5>
                            </div>
                            <h5 class="card-title mt-3">{{ 'details-provenence' | translate }}</h5>
                            <div class="timeline mt-3">
                              <div *ngFor="let provenance of selectedItemDetails.provenance; let i = index" class="timeline-item">
                                <div class="timeline-marker"></div>
                                <div class="timeline-content my-2">
                                  <h6 class="timeline-title"> {{ 'processus' | translate }} {{ i + 1 }}</h6>
                                  <p>{{ provenance.value }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="isLoading" class="text-center my-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">{{ 'loading' | translate }}</span>
        </div>
        <p class="text-primary">{{ 'loadingMessage' | translate }}</p>
      </div>
      <ng-container *ngIf="showAlert">
        <div class="alert border-0 border-danger border-start border-4 bg-light-danger alert-dismissible fade show mt-5">
          <div class="text-danger">{{ alertMessage }}</div>
          <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close"></button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
