/* You can add global styles to this file, and also import other style files */
.logo-header {
  width: 70%;
}
.radius-60 {
  border-radius: 60px;
}


.mh-500 {
  min-height: 500px;
}

.mh-50 {
  min-height: 75px;
}



