<div class="row">
  <div class="col-12">
    <div class="card radius-10 mh-500">
      <div class="card-body">
        <form (ngSubmit)="applyFilters()" class="row gy-3 gx-4 align-items-end">
          <div class="col-md-5">
            <label for="collectionFilter" class="form-label fw-bold">
              <i class="bi bi-bricks"></i> {{ 'collections' | translate }}
            </label>
            <select id="collectionFilter" class="form-select" [(ngModel)]="filters.collection" name="collection">
              <option *ngIf="loadingCollection" disabled><span class="text-danger">{{ 'loading_message' | translate }}</span></option>
              <ng-container *ngIf="!loadingCollection">
                <option value="">{{ 'all' | translate }}</option>
                <option *ngFor="let collection of collections" [value]="collection.id">{{ collection.name }}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-md-4">
            <label for="typeFilter" class="form-label fw-bold">
              <i class="bi bi-tags"></i> {{ 'type' | translate }}
            </label>
            <select id="typeFilter" class="form-select" [(ngModel)]="filters.type" name="type">
              <option value="">{{ 'all' | translate }}</option>
              <option *ngFor="let type of filterOptions.types" [value]="type">{{ type }}</option>
            </select>
          </div>

          <div class="col-md-3 text-start">
            <button type="submit" class="btn btn-dark px-4">
              <i class="bi bi-gear"></i> {{ 'create_report' | translate }}
            </button>
          </div>
        </form>

        <div *ngIf="this.loading" class="spinner-border text-primary mt-2" role="status"></div>

        <div *ngIf="this.items.length!==0">
          <p class="text-muted mt-5">{{ 'displaying_items' | translate: { count: items.length } }}</p>

          <table class="table align-middle">
            <thead class="table-light">
            <tr>
              <th class="col-md-2">{{ 'id' | translate }}</th>
              <th class="col-md-2">{{ 'authors' | translate }}</th>
              <th class="col-md-2">{{ 'title' | translate }}</th>
              <th class="col-md-2">{{ 'collection' | translate }}</th>
              <th class="col-md-3">{{ 'validation_process_tracking' | translate }}</th>
              <th class="col-md-1">{{ 'last_modified' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of items">
              <tr>
                <td>{{ item.uuid }}</td>
                <td>
                  <ng-container *ngIf="item.metadata.author">
                    <ul class="list-group list-group-flush">
                      <li *ngFor="let author of item.metadata.author" class="list-group-item">
                        <p [innerHTML]="author.value"></p>
                      </li>
                    </ul>
                  </ng-container>
                  <ng-container *ngIf="!item.metadata.author">{{ 'no_author' | translate }}</ng-container>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.collection }}</td>
                <td>
                  <ng-container *ngIf="item.metadata.provenance">
                    <ul class="list-group list-group-flush">
                      <li *ngFor="let provenance of cleanAndTranslateData(item.metadata.provenance); let i = index" class="list-group-item">
                        <h6 class="card-title">{{ 'process_step' | translate: { step: i + 1 } }}</h6>
                        <p [innerHTML]="provenance"></p>
                      </li>
                    </ul>
                  </ng-container>
                  <strong class="text-info ml-2">{{ 'workflow_id' | translate: { id: item.workflowId } }}</strong>
                  <ng-container *ngIf="!item.metadata.provenance">{{ 'no_provenance' | translate }}</ng-container>
                </td>
                <td>
                  <div [ngClass]="'py-1 px-3 radius-30 ms-auto bg-light-' + getItemStyle(item.lastModified) + ' text-' + getItemStyle(item.lastModified)">
                    {{ getTimeElapsed(item.lastModified) }}
                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
