<div class="row">
  <div class="col-12">
    <div class="card radius-10 mh-500">
      <div class="card-body">
        <form (ngSubmit)="loadItems();" class="row gy-3 gx-4 align-items-end">
          <div class="col-md-5">
            <label for="collectionFilter" class="form-label fw-bold">
              <i class="bi bi-bricks"></i> {{ 'collections' | translate }}
            </label>
            <select id="collectionFilter" class="form-select" [(ngModel)]="filters.collection" name="collection">
              <option *ngIf="loadingCollection" disabled><span class="text-danger">{{ 'loading_message' | translate }}</span></option>
              <ng-container *ngIf="!loadingCollection">
                <option value="">{{ 'all' | translate }}</option>
                <option *ngFor="let collection of collections" [value]="collection.id">{{ collection.name }}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-md-4">
            <label for="typeFilter" class="form-label fw-bold">
              <i class="bi bi-tags"></i> {{ 'type' | translate }}
            </label>
            <select id="typeFilter" class="form-select" [(ngModel)]="filters.type" name="type">
              <option value="">{{ 'all' | translate }}</option>
              <option *ngFor="let type of filterOptions.types" [value]="type">{{ type }}</option>
            </select>
          </div>

          <div class="col-md-3 text-start">
            <button type="submit" class="btn btn-dark px-4">
              <i class="bi bi-gear"></i> {{ 'create_report' | translate }}
            </button>
          </div>
        </form>
        <div *ngIf="loading" class="spinner-border text-primary mt-2" role="status"></div>
        <div>
          <p class="text-muted mt-5" *ngIf="!loading">{{ 'displaying_items' | translate: { count: items.length } }}</p>
          <div class="d-flex align-items-center gap-3 pt-3 pb-3" *ngIf="items.length!=0">
            <button class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom"></button>
            <span>Moins d'un mois</span>

            <button class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="bottom"></button>
            <span>Entre 30 et 60 jours</span>

            <button class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom"></button>
            <span>Plus de 60 jours</span>
          </div>
          <table class="table col-md-12" *ngIf="items.length!=0">
            <thead class="table-light">
            <tr>
              <th class="col-md-1 text-left align-top">{{ 'id' | translate }}</th>
              <th class="col-md-2 text-left align-top" (click)="toggleSortOrder()">
                <i *ngIf="sortField === 'lastModified'" class="bi" [ngClass]="sortOrder === 'asc' ? 'bi-sort-up' : 'bi-sort-down'"></i>
                {{ 'last_modified' | translate }}
              </th>
              <th class="col-md-2 text-left align-top">{{ 'authors' | translate }}
                <div class="input-with-icon">
                  <i class="bi bi-search icon"></i>
                  <input
                    id="searchAuthor"
                    type="text"
                    class="form-control"
                    [(ngModel)]="searchQuery"
                    name="searchQuery"
                    placeholder="{{ 'search_author' | translate }}"
                    (input)="applyFilters()"
                  />
                </div>
              </th>
              <th class="col-md-3 text-left align-top" >{{ 'itemDetails' | translate }}
                <div class="input-with-icon">
                  <i class="bi bi-search icon"></i>
                  <input
                    id="searchDetails"
                    type="text"
                    class="form-control"
                    [(ngModel)]="searchDetailsQuery"
                    name="searchQuery"
                    placeholder="{{ 'enter_submission_details' | translate }}"
                    (input)="applyFilters()"
                  />
                </div>
              </th>
              <th class="col-md-4 text-left align-top">{{ 'validation_process_tracking' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of filteredItems;let i = index; trackBy: trackByFn">
              <tr>
                <td>{{ i+1 }}</td>
                <td class="text-center">
                  <div [ngClass]="'py-1 px-3 radius-30 ms-auto bg-light-' + getItemStyle(item.lastModified) + ' text-' + getItemStyle(item.lastModified)">
                    {{ getTimeElapsed(item.lastModified) }}
                  </div>
                </td>
                <td>
                  <ng-container *ngIf="item.metadata.author">
                    <ul class="list-group list-group-flush">
                      <li *ngFor="let author of item.metadata.author" class="list-group-item">
                        <p [innerHTML]="author.value"></p>
                      </li>
                    </ul>
                  </ng-container>
                  <ng-container *ngIf="!item.metadata.author">{{ 'no_author' | translate }}</ng-container>
                </td>
                <td>
                  <p><strong>{{ 'id' | translate }}</strong>: {{item.uuid }}</p>
                  <p><strong>{{ 'titre' | translate }}</strong>: {{ item.name }}</p>
                  <p><strong>{{ 'collection' | translate }}</strong>:{{ item.collection }}</p>
                  <p><strong>{{ 'type' | translate }}</strong>: {{ item.type }}</p>
                </td>
                <td>
                  <ng-container *ngIf="item.metadata.provenance">
                    <ul class="list-group list-group-flush">
                      <li *ngFor="let provenance of methodesUtils.cleanAndTranslateData(item.metadata.provenance); let i = index" class="list-group-item">
                        <h6 class="card-title">{{ 'process_step' | translate: { step: i + 1 } }}</h6>
                        <p [innerHTML]="provenance"></p>
                      </li>
                    </ul>
                  </ng-container>
                  <strong class="text-info ml-2">{{ 'workflow_id' | translate: { id: item.workflowId } }}</strong>
                  <ng-container *ngIf="!item.metadata.provenance">{{ 'no_provenance' | translate }}</ng-container>
                </td>

              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
